@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$cit-app-primary: mat-palette($mat-indigo);
$cit-app-accent:  mat-palette($mat-indigo);

// The warn palette is optional (defaults to red).
$cit-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$cit-app-theme: mat-light-theme($cit-app-primary, $cit-app-accent, $cit-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cit-app-theme);

